In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from statsmodels.formula.api import ols
import statsmodels.api as sm
pd.set_option('display.max_columns', None)
plt.style.use('seaborn-deep')
plt.rcParams.update({'font.size': 15})

In [2]:

df = pd.read_csv('multiple_pages_car.csv')

In [3]:
df.shape

(200, 6)

In [4]:
df.head()

,Name,Mileage,Dealer Name,Rating,rating_count,price
0,2018 Mercedes-Benz S-Class S 450 4MATIC,"33,834 mi.",Mercedes-Benz of Massapequa,4.8,"1,546","$69,995"
1,2019 Mercedes-Benz AMG GLE 43 4MATIC Coupe,"12,010 mi.",Mercedes-Benz Of Tampa,4.4,104,"$80,990"
2,2019 Mercedes-Benz C-Class C 300,"22,289 mi.",Autobahn Motors,4.6,890,"$32,998"
3,2018 Mercedes-Benz E-Class E 300,"26,095 mi.",Mercedes-Benz of Fayetteville,4.9,597,"$43,998"
4,2019 Mercedes-Benz C-Class C 300,"11,673 mi.",Mercedes-Benz of South Charlotte,4.8,161,"$41,954"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          200 non-null    object
 1   Mileage       200 non-null    object
 2   Dealer Name   200 non-null    object
 3   Rating        200 non-null    float64
 4   rating_count  200 non-null    object
 5   price         200 non-null    object
dtypes: float64(1), object(5)
memory usage: 9.5+ KB

In [6]:
#check for null values
df.isnull().sum()

Name            0
Mileage         0
Dealer Name     0
Rating          0
rating_count    0
price           0
dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
for col in df.columns:
    if df[col].dtypes == 'object':
        encoder = LabelEncoder()
        df[col] = encoder.fit_transform(df[col])

In [9]:
y= df['rating_count'].apply( lambda y_value:1 if y_value>=7 else 0)

In [10]:
x=df.drop(columns=['rating_count'])

In [11]:
from sklearn.ensemble import ExtraTreesClassifier
selector = ExtraTreesClassifier(random_state=42)

In [12]:
df

     Name  Mileage  Dealer Name  Rating  rating_count  price
0      33      126           52     4.8            16    168
1      40       17           16     4.4            21    179
2      42       78            0     4.6            79     29
3      20       99           39     4.9            60     98
4      42       13           72     4.8            30     84
..    ...      ...          ...     ...           ...    ...
195    52       37           71     4.7            80     85
196     5      189           45     4.7            76     50
197     5      190           72     4.8            30     55
198    17       27           76     4.7             6      4
199    14       38           87     4.9             0    145

[200 rows x 6 columns]

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
from sklearn.model_selection import cross_val_score, train_test_split
def classify(model, x , y ):
    x_train, x_test, y_train , y_test = train_test_split(x , y ,test_size=0.25, random_state=42)
    # train the model
    model.fit(x_train,y_train)
    print ("Accuracy:",model.score(x_test,y_test)* 100)
    
# cross- validation
    score =cross_val_score(model,x,y,cv=5)
    print ("CV score:", np.mean(score)*100)

In [15]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
classify(model, x, y)

Accuracy: 86.0
CV score: 85.50000000000001

In [16]:
from sklearn.tree import DecisionTreeClassifier
model= DecisionTreeClassifier()
classify(model,x,y)

Accuracy: 94.0
CV score: 88.00000000000001

In [17]:
from sklearn.ensemble import RandomForestClassifier
model= RandomForestClassifier()
classify (model,x,y)

Accuracy: 88.0
CV score: 90.0

In [18]:
from sklearn.ensemble import ExtraTreesClassifier
model= ExtraTreesClassifier()
classify(model,x,y)

Accuracy: 86.0
CV score: 88.00000000000001